* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main .nft_container {
  margin-top: 4rem;
  height: 100%;
  width: 100%;
  margin-bottom: 4rem;
}
main .nft_container .bloc_nft {
  width: 100%;
}
main .nft_container .bloc_nft .partie_nft {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .nft_container .bloc_nft .partie_nft .image_nft {
  width: 40%;
}
main .nft_container .bloc_nft .partie_nft .image_nft img {
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 3px 10px #FFFB88;
  width: 100%;
  border-radius: 10px;
}
main .nft_container .bloc_nft .partie_nft .image_nft:hover,
main .nft_container .bloc_nft .partie_nft .definition_nft:hover {
  box-shadow: 0 5px 8px 0 #FFFB88;
}
main .nft_container .bloc_nft .partie_nft .definition_nft {
  width: 40%;
}
main .nft_container .bloc_nft .partie_nft .definition_nft p {
  font-size: larger;
  padding: 1.5rem;
}
main .nft_container .bloc_nft .texte_nft {
  padding: 0 15%;
  margin-bottom: 5rem;
}
main .nft_container .bloc_nft .texte_nft p {
  padding: 1rem;
  font-size: large;
}
main .nft_container h3 {
  text-align: center;
}
main .nft_container .top {
  display: flex;
  height: auto;
}
main .nft_container .top .nft_marquant {
  width: 45%;
  margin-bottom: 5rem;
}
main .nft_container .top .nft_marquant ol {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
}
main .nft_container .top .nft_marquant ol li {
  padding: 0.5rem 0;
}
main .nft_container .top .gallerie {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 5px;
  padding: 5px;
  width: 60%;
  margin-bottom: 5rem;
}
main .nft_container .top .gallerie img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .nft_container .top .gallerie .img1 {
  grid-column: 1/4;
}
main .nft_container .top .gallerie .img2 {
  grid-row: 2/3;
}
main .nft_container .top .gallerie .img3 {
  grid-row: 3/4;
  grid-column: -8/-6;
}
main .nft_container .top .gallerie .img4 {
  grid-row: 2/4;
  grid-column: -4/-1;
}
main .nft_container .top .gallerie .img5 {
  grid-row: 2/3;
  grid-column: -6/-3;
}
main .nft_container .top .gallerie .img6 {
  grid-row: 3/4;
  grid-column: -11/-8;
}
main .nft_container .top .gallerie .img7 {
  grid-row: 2/3;
  grid-column: -10/-6;
}
main .nft_container .top .gallerie .img8 {
  grid-column: 4/7;
}
main .nft_container .top .gallerie .img9 {
  grid-row: 3/4;
  grid-column: -6/-4;
}
main .nft_container .top .gallerie .img10 {
  grid-column: 7/11;
}
main .nft_container .table_top {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
main .nft_container .table_top table tr:nth-child(even) {
  background-color: white;
  color: #1B1A1A;
}
main .nft_container .table_top table tr,
main .nft_container .table_top table th,
main .nft_container .table_top table td {
  border: 1px solid white;
  text-align: center;
  padding: 8px;
}
main .nft_container .table_top table tr a,
main .nft_container .table_top table th a,
main .nft_container .table_top table td a {
  color: gray;
  text-decoration: none;
}
main .nft_container .table_top table tr a:hover,
main .nft_container .table_top table th a:hover,
main .nft_container .table_top table td a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 666px) {
  main .nft_container .bloc_nft .partie_nft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .nft_container .bloc_nft .partie_nft .image_nft {
    padding: 0 0.5rem;
  }
  main .nft_container .bloc_nft .partie_nft .image_nft,
main .nft_container .bloc_nft .partie_nft .definition_nft {
    width: 94%;
  }
  main .nft_container .bloc_nft .texte_nft {
    padding: 0 4%;
  }
  main .nft_container .bloc_nft .texte_nft p {
    padding: 0.7rem;
  }
  main .nft_container .top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .nft_container .top .nft_marquant,
main .nft_container .top .gallerie {
    width: 94%;
  }
  main .nft_container .top .gallerie {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 3px;
    padding: 3px;
    margin-bottom: 5rem;
  }
  main .nft_container .top .gallerie img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .nft_container .top .gallerie .img1 {
    grid-column: 1/4;
  }
  main .nft_container .top .gallerie .img2 {
    grid-row: 2/3;
  }
  main .nft_container .top .gallerie .img3 {
    grid-row: 3/4;
    grid-column: -8/-6;
  }
  main .nft_container .top .gallerie .img4 {
    grid-row: 2/4;
    grid-column: -4/-1;
  }
  main .nft_container .top .gallerie .img5 {
    grid-row: 2/3;
    grid-column: -6/-3;
  }
  main .nft_container .top .gallerie .img6 {
    grid-row: 3/4;
    grid-column: -11/-8;
  }
  main .nft_container .top .gallerie .img7 {
    grid-row: 2/3;
    grid-column: -10/-6;
  }
  main .nft_container .top .gallerie .img8 {
    grid-column: 4/7;
  }
  main .nft_container .top .gallerie .img9 {
    grid-row: 3/4;
    grid-column: -6/-4;
  }
  main .nft_container .top .gallerie .img10 {
    grid-column: 7/11;
  }
  main .nft_container .top .nft_marquant ol {
    padding-left: 28px;
  }
  main .nft_container td {
    padding: 5px;
  }
}/*# sourceMappingURL=nft.css.map */