{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe{% endblock %}

{% block body %}
<div style="margin-top:150px">
    <p>
        Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Veuillez vérifier dans vos spams si vous n'avez pas reçu de mail <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
    </div>
{% endblock %}
