{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="container has-text-white	" >
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="notification is-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="is-size-4">Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm,{'attr':{'style':'margin-top:150px;margin-bottom:100px'}}) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Veuillez entrer votre adresse mail pour recevoir le lien de réinitialisation 
                de votre mot de passe
            </small>
        </div>

        <button class="button is-link is-info">Réinitialiser votre mot de passe</button>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
