* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #202020;
}

form {
  width: 75%;
  height: 500px;
}

form .container_inscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  gap: 5px;
}

form .container_inscription .logo_inscription {
  height: 100%;
  width: 50%;
  border-radius: 17px;
  background-color: #1B1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .container_inscription .logo_inscription img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

form .container_inscription .formulaire_inscription {
  height: 100%;
  width: 50%;
  border-radius: 17px;
  background-color: #1B1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1B1A1A;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form .container_inscription .formulaire_inscription input {
  border: 1px solid #383737;
  margin-top: 8px;
  padding: 3px 0;
  font-size: larger;
  background-color: #1B1A1A;
  color: white;
}

form .container_inscription .formulaire_inscription input:focus {
  border-bottom: 2px solid black;
}

form .container_inscription .formulaire_inscription label {
  color: white;
  opacity: 0.7;
  font-size: 1.5rem;
}

form .container_inscription .formulaire_inscription label:hover {
  opacity: 1;
}

form .container_inscription .formulaire_inscription #valider, form .container_inscription .formulaire_inscription button {
  cursor: pointer;
}

form .container_inscription .formulaire_inscription button {
  padding: 12px 25px 12px 25px;
  border-radius: 22px;
  background-color: #1B1A1A;
  border: 1px solid white;
  color: white;
  font-size: larger;
}

form .container_inscription .formulaire_inscription button:hover {
  background-color: white;
  color: #1B1A1A;
}

form .container_inscription .formulaire_inscription ::-webkit-input-placeholder {
  opacity: 0.5;
  color: white;
}

form .container_inscription .formulaire_inscription :-ms-input-placeholder {
  opacity: 0.5;
  color: white;
}

form .container_inscription .formulaire_inscription ::-ms-input-placeholder {
  opacity: 0.5;
  color: white;
}

form .container_inscription .formulaire_inscription ::placeholder {
  opacity: 0.5;
  color: white;
}

@media screen and (max-width: 954px) {
  form {
    width: 100%;
  }
  form .container_inscription {
    width: 100%;
    gap: 0;
  }
  form .container_inscription .logo_inscription img {
    height: 150px;
    width: 90px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  form .container_inscription .formulaire_inscription .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  form .container_inscription .formulaire_inscription label {
    font-size: large;
  }
  form .container_inscription .formulaire_inscription input {
    font-size: large;
    width: 7rem;
  }
  form .container_inscription .formulaire_inscription button,
  form .container_inscription .formulaire_inscription ::-webkit-input-placeholder {
    font-size: small;
  }
  form .container_inscription .formulaire_inscription button,
  form .container_inscription .formulaire_inscription :-ms-input-placeholder {
    font-size: small;
  }
  form .container_inscription .formulaire_inscription button,
  form .container_inscription .formulaire_inscription ::-ms-input-placeholder {
    font-size: small;
  }
  form .container_inscription .formulaire_inscription button,
  form .container_inscription .formulaire_inscription ::placeholder {
    font-size: small;
  }
}
/*# sourceMappingURL=inscription.css.map */