{% block body %}
<div class="bloc_bnb">
                <div class="partie_bnb">
                    <div class="image_bnb">
                         <img src="{{ asset('asset/image/crypto/bnb.jpg') }}" alt="binance" />
                    </div>
                    <div class="definition_Binance">
                        <p>
                            Le nom <strong>Binance</strong> vient de "Binary + Finance"1. La plateforme permet de <strong> stocker, acheter, revendre,</strong> et é <u>changer des cryptomonnaies</u> contre d'autres cryptomonnaies mais également contre
                            des monnaies fiduciaires telles que l'Euro ou le Dollar. Binance se rémunère en prélevant une commission à chaque transaction. Les frais sont parmi les plus bas du marché, la plateforme est un succès. La taxe équivaut à environ
                            0,1 % du montant retiré ou échangé. Les dépôts sont gratuits, en revanche les transactions et les retraits sont payants. Depuis le 22 janvier 2021, Binance a supprimé la possibilité d'exécuter des retraits en Euro directement
                            vers son compte bancaire. En outre, les retraits en Euro sont possibles uniquement par carte Visa avec frais de 1 % sur le montant transféré.
                        </p>
                    </div>
                </div>

                <div class="text_bnb">
                    <p>
                        La Binance Smart Chain (BSC) et la Binance Chain, les blockchains reliées à l'écosystème de la plateforme Binance, deviennent la « BNB Chain », une nouvelle entité portée sur des notions de multi-chaîne. En parallèle, dans une optique de décentralisation,
                        la BNB Chain accueillera prochainement de nouveaux nœuds validateurs.
                    </p>
                    <h3> <u>Le BNB Chain, une blockchain décentralisé</u> </h3>
                    <p>
                        La plateforme d'échange de cryptomonnaies <strong>Binance</strong> a levé le voile sur sa nouvelle entité blockchain, la <strong>« BNB Chain ».</strong>
                    </p>
                    <p>
                        Ce changement de nom vise à mettre en évidence le lien de cette blockchain avec le token BNB ainsi qu'à illustrer l'évolution décentralisée de l'écosystème BNB. Binance Chain est un système logiciel de blockchain développé par Binance et sa communauté.
                        Binance DEX fait référence aux fonctionnalités d'échange décentralisées développées au-dessus de Binance Chain. Veuillez lire la
                        <a href="https://docs.binance.org/faq/faq.html">FAQ</a> pour commencer
                    </p>
                    <h3>
                        <u> La BNB Chain est ainsi constituée de :</u>
                    </h3>
                    <ul>
                        <li>
                            La <strong>BNB Beacon Chain</strong>, anciennement Binance Chain. Jouera un rôle dans la gouvernance de la BNB Chain (staking de token BNB => (Le staking est le fait d’immobiliser ses crypto-monnaies dans un smart contract
                            (contrat intelligent) de façon à participer aux opérations qui se déroulent sur une blockchain. Le staking est similaire au minage dans le sens où ils récompensent les utilisateurs qui participent à la sécurisation d’un réseau
                            décentralisé. Vous allez ainsi stocker vos crypto tout en bénéficiant d’avantages.))
                        </li>
                        <li>
                            La <strong>BNB Smart Chain (BSC)</strong>, anciennement Binance Smart Chain. Blockchain compatible avec l'Ethereum Virtual Machine(L’Ethereum Virtual Machine, que l’on appelle également EVM ou machine virtuelle d’
                            <strong>Ethereum,</strong> est la première sous-couche du réseau. C’est elle qui permet aux smart contracts de fonctionner sur la blockchain Ethereum grâce à son système « Turing Complet ».)
                        </li>
                    </ul>
                </div>
            </div>
{% endblock %}