{% extends "base.html.twig" %}
{% block title %}
	Requête non traitée -
	{{ parent() }}
{% endblock %}
{% block body %}
	<div style="margin:200px 0 200px 0">
		<h1 class="has-text-centered has-text-white is-size-1">
			Oups! La requête envoyée par le navigateur n'a pas pu être traitée pour une raison qui n'a pas pu être identifiée
		</h1>
	</div>
{% endblock %}
