<footer>
	<h2>
		Apcrypto Communauté</h2>
	<div class="footer_container">
		<div class="rr_container">
			<div class="resume">
				<p>Venez discuter échanger sur le canal Apcrypto Communauté. Le plus grand canal de partage en devenir.

				</p>
			</div>
			<div class="reseau">
				<a style="text-decoration:none" href="https://discord.gg/4XbGCWnk" target="blank"><i class="fa-brands fa-discord"></i> </a>
			</div>
		</div>
		<div class="copyright">
			Copyright ©
			<span id="year">2022</span>
			Apcrypto - Tous droits réservés !
		</div>
	</div>
</footer>
</div>
