<footer>
	<h2>
		Apcrypto Communauté</h2>
	<div class="footer_container">
		<div class="rr_container">
			<div class="resume">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ducimus quasi, rem, eum earum dignissimos consequuntur, excepturi ab incidunt nisi harum explicabo! Repudiandae illum minus, consequuntur iure harum delectus? Dolores.

				</p>
			</div>
			<div class="reseau">
				<i class="fa-brands fa-discord"></i>
			</div>
		</div>
		<div class="copyright">
			Copyright ©
			<span id="year">2022</span>
			Apcrypto - Tous droits réservés !
		</div>
	</div>
</footer>
</div>
