<footer style="border-top: 5px solid #0C091C">
	<h2>
		Apcrypto Communauté</h2>
	<div class="footer_container">
		<div class="rr_container">
			<div class="resume">
				<p>Venez discuter échanger sur le canal Apcrypto Communauté. Le plus grand canal de partage en devenir.

				</p>
			</div>
			<div class="reseau">
				<a class="has-text-white" href="https://discord.gg/4XbGCWnk" target="blank">
					<i class="fa-brands fa-discord"></i>
				</a>
				<a class="has-text-white" href="https://www.linkedin.com/in/bilaly-cissokho-b74801235/" target="blank">
					<i class="fa-brands fa-linkedin"></i>
				</a>
				<a class="has-text-white" href="https://github.com/galsenBoy" target="blank">
					<i class="fa-brands fa-github"></i>
				</a>
			</div>
		</div>
		<div class="copyright">
			Copyright ©
			<span id="year">2022</span>
			Apcrypto par Bilaly Cissokho - Tous droits réservés !
		</div>
	</div>
</footer></div>
