{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!{% endblock %}

{% block body %}
<h1> Veuillez activer votre compte </h1>
<p>Bonjour {{user.prenom}},</p>
<p>Votre inscription sur le site Apcrypto est à valider en cliquant sur le lien ci-dessous :</p>
<p>  <a>Lien</a>  </p>
{% endblock %}
 